body {
    font-family: 'Arial', sans-serif;
    background: rgb(182,194,255);
    background: radial-gradient(circle, rgba(182,194,255,1) 2%, rgba(81,58,167,1) 87%);
    background-size: cover;
    text-align: center;
    margin: 50px;
}

#dishOutput {
    font-size: 1.2em;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: rgb(147, 121, 198);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #3f3f3f;
  }
  
button:hover {background: rgb(44, 26, 103);
    transition: 0.4s;
    }
  
button:active {
    background-color: #eac83f;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
  }

